<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">age</th>
    </tr>
  </thead>
  <tbody>
    {{#each homeModels}}
        <tr>
        <th scope="row">1</th>
        <td>{{this.name}}</td>
        <td>{{this.age}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>